@import "../../styles/variables.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.content {
    width: 100vw;
    height: 100vh;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #66666E;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border: 1px solid #66666E;
    border-radius: 0.5rem;
    width: 50%;
}

.header-bar {
    font-size: large;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding: 0 1rem;
    background-color: $blue;
}

.header-bar ul {
    display: flex;
    list-style: none;
}

.header-bar a {
    text-decoration: none;
    margin: 0 1rem;
    color: inherit;
}

.usr {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.usr p {
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.burger button {
    border: none;
    cursor: pointer;
}
