@import "../../styles/variables.scss";


.page {
	width: 100%;
}

.main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 0;
    background-color: $blue;
    transition: width 0s;
    height: 100vh;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-open.sidebar {
    width: 100%;
    transition: width 0.5s ease-in;
}

.header-bar {
    width: 100%
}
