.page {
	width: 100%;
}

.main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 0;
    background-color: #002b8e;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100vh;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-open.sidebar {
    width: 100%;
}

.header-bar {
    width: 100%
}
